Начнём с простого - сохраните в переменную age произвольный возраст, выраженный целым числом, а в переменную name какое-нибудь имя в виде строки

In [1]:
age = 34
name = 'Maks'

Создайте список user_info, содержащий 2 строки (имя и фамилия пользователя), 1 дробное число (зарплата) и 1 целое число (стаж)

Поместите в переменную first первый (то есть нулевой) элемент из списка salaries

In [2]:
user_info = ['Vladimir','Shiskanov', 100000.0, 1]

In [3]:
user_info[0]

'Vladimir'

Индексирование начинается с 0 , прследний элемент в списке -1

In [4]:
salaries = [1, 2, 3, 4, 5]

In [5]:
first = salaries [-1]

In [6]:
first

5

Добавьте в список users элементы 'Voronov' и 42

In [7]:
users = ['courses', 42, False]

# append 
- метод добовляющий элемент в список

In [8]:
users.append('Voronov')
users.append(42)

In [9]:
users

['courses', 42, False, 'Voronov', 42]

В переменной user_ages содержится список возрастов клиентов. Напишите петлю, выводящую на печать возраста, которые больше 18.

Пример данных, которые могут быть в user_ages.

In [10]:
 user_ages = [34, 10, 20, 24, 18, 45]

In [11]:
for i in user_ages:
    print(i) # это цикл которторый будет повторятятся и выводить поочереди переменные на печать, каждую на новую строку

34
10
20
24
18
45

# if - создадает условия

In [12]:
if 10 > 5:
    print('yes')

yes

In [13]:
user_ages

[34, 10, 20, 24, 18, 45]

In [14]:
for age in user_ages:
    if age > 18:
        print(age)

34
20
24
45

Напишите программу, проверяющую стаж работы сотрудника. В переменной worker содержится список, содержащий значения как во 2-ом задании (имя, фамилия, зарплата, стаж). Поместите в переменную status такую строку:

user_name user_family is position

где user_name и user_family - имя и фамилия сотрудника, а position - одна из следующих строк

* 'junior' - стаж меньше 2 лет
* 'middle' - стаж больше либо равен 2 лет
* 'senior' - стаж больше 5 лет 

Пример данных, которые могут быть в worker

worker = ['Olya', 'Silyutina', 350000, 3]

In [15]:
worker = ['Olya', 'Silyutina', 350000.0, 3, \
          'Vladimir', 'Sihskanov', 450000.5, 2, \
          'Oleg', 'Petrov', 300000.0, 1, \
          'Nata', 'Osokina', 550000.5, 5]

In [16]:
status = '{} {} is {}'
experience = worker[-1]

if experience < 2:
    position = 'junior'
elif experience <=5:
    position = 'middle'
else:
    position = 'senior'
    
status = status.format(worker[0], worker[1], position)

# проверка на делимость
Создайте список tens и добавьте в него все числа из values, которые делятся на 10 нацело

В списке values содержатся числовые значения. 
Пример данных, которые могут быть в values

values = [12, 134, 10, 47, 100, 20, 50, 160, 210]

In [17]:
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]

In [18]:
tens =[]

In [19]:
for value in values:
    if (value % 10) == 0:
        tens.append(value)

In [20]:
tens

[10, 100, 20, 50, 160, 210]

Реализуйте цикл, который пробегается по списку workers со значениями как в 2-ом и 6-ом заданиях, и выводит для каждого сотрудника строку (то есть печатает её для каждого элемента списка)

user_name user_family is position

где user_name и user_family - имя и фамилия сотрудника, а position - одна из следующих строк

    'junior' - стаж меньше 2 лет
    'middle' - стаж больше либо равен 2 лет
    'senior' - стаж больше 5 лет 

Пример данных, которые могут быть в workers

In [21]:
workers = ['Olya', 'Silyutina', 350000.0, 3], \
         ['Vladimir', 'Sihskanov', 450000.5, 2], \
         ['Oleg', 'Petrov', 300000.0, 1,], \
         ['Nata', 'Osokina', 550000.5, 5]

In [22]:
worker = workers[1]

In [23]:
for worker in workers:        
    status = '{} {} is {}'
    experience = worker[-1]
    
    if experience < 2:
        position = 'junior'
    elif experience <=5:
        position = 'middle'
    else:
        position = 'senior'

    status = status.format(worker[0], worker[1], position)
    print(status)

Olya Silyutina is middle
Vladimir Sihskanov is middle
Oleg Petrov is junior
Nata Osokina is middle

Поместите в список lst числа от 0 (n = 0) до 10 включительно (N = 10) c шагом 2 (dn = 2). Для этого используйте условие while.

Note: необходимо создать переменную lst, а переменные n, N, dn создавать не нужно.

# while
Изменение усвий в цикле, если не менять условие, то цикл становится бесконечным, а вывод цикла не меняется

Поэтому всегда в тело цикла в конце нужно добавлять счетчик. И еще теорию для закрепления

Методы списков
* list.append(x) — позволяет добавлять элемент в конец списка;
* list1.extend(list2) — предназначен для сложения списков;
* list.insert(i, x) — служит для добавления элемента на указанную позицию(i — позиция, x — элемент);
* list.remove(x) — удаляет элемент из списка (только первое вхождение);
* list.clear() — предназначен для удаления всех элементов (после этой операции список становится пустым []);
* list.copy() — служит для копирования списков.
* list.count(x) — посчитает количество элементов x в списке;
* list.index(x) — вернет позицию первого найденного элемента x в списке;
* list.pop(i) — удалит элемент из позиции i ;
* list.reverse() — меняет порядок элементов в списке на противоположный;
* list.sort() — сортирует список.

In [26]:
lst  = []

In [27]:
lst = list()

In [28]:
a = 1
while a < 6:
    print(a)
    a += 2 # шаг 2

1
3
5