# Продолжаю улучшать свои навыки и знания. 

Предлагаю ознакомиться с "мини проектом Bookings", в котором привожу решение простых типовых задач.

Данные для мини проектов можно найти на сайте https://www.kaggle.com

С уважением
Осокин Максим

Задачи

* Загрузите датасет bookings.csv с разделителем ;. 
* Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные. 
* Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.

* Пользователи из каких стран совершили наибольшее число успешных бронирований?
* Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled). 
* Выберите страны, входящие в топ-5. сохраните в переменную top_5_countries

* На сколько ночей в среднем бронируют отели разных типов?
* Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type).  Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

* Проанализируйте даты запланированного прибытия. – На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?– Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в 2015 , 2016 и 2017 годах.

* Какая из числовых характеристики трёх переменных (adults, children и babies) имеет наибольшее среднее значение? Для отелей   какого типа среднее значение переменной оказалось наибольшим?

* Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate).      * Укажите, среди какой группы пользователей показатель ушедших клиентов выше.

 
Описание данных

Имеются следующие переменные:

    * Hotel – тип отеля (City Hotel или Resort Hotel)  
    * Is canceled – бронирование было отменено (1) или нет (0); не отмененное считается успешным
    * Lead time – количество дней, прошедших между датой бронирования и датой прибытия  
    * Arrival full date – полная дата прибытия
    * Arrival date year – год прибытия  
    * Arrival date month – месяц прибытия  
    * Arrival date week number – номер недели прибытия
    * Arrival date day of month – день прибытия
    * Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в   отеле
    * Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
    * Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)
    * Adults – число взрослых
    * Children – число детей
    * Babies – число младенцев 
    * Meal – выбранный тип питания
    * Country – страна происхождения клиента
    * Reserved room type – тип зарезервированного номера
    * Assigned room type – тип полученного номера (может отличаться от забронированного)
    * Customer type – тип бронирования
    * Reservation status – значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент зарегистрировался, но уже покинул отель; No-Show - клиент не зарегистрировался и сообщил администрации отеля причину
    * Reservation status date – дата обновления статуса

In [68]:
import pandas as pd

In [69]:
bookings = pd.read_csv('https://stepik.org/media/attachments/course/111949/2_bookings.csv',  sep=';')

In [70]:
bookings_head = bookings.head(7)

In [71]:
bookings.shape

(119390, 21)

In [72]:
bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Hotel                      119390 non-null  object
 1   Is Canceled                119390 non-null  int64
 2   Lead Time                  119390 non-null  int64
 3   arrival full date          119390 non-null  object
 4   Arrival Date Year          119390 non-null  int64
 5   Arrival Date Month         119390 non-null  object
 6   Arrival Date Week Number   119390 non-null  int64
 7   Arrival Date Day of Month  119390 non-null  int64
 8   Stays in Weekend nights    119390 non-null  int64
 9   Stays in week nights       119390 non-null  int64
 10  stays total nights         119390 non-null  int64
 11  Adults                     119390 non-null  int64
 12  Children                   119386 non-null  float64
 13  Babies                     119390 non-null  int64
 14  Meal                       119390 non-null  object
 15  Country                    118902 non-null  object
 16  Reserved Room Type         119390 non-null  object
 17  Assigned room type         119390 non-null  object
 18  customer type              119390 non-null  object
 19  Reservation Status         119390 non-null  object
 20  Reservation status_date    119390 non-null  object
dtypes: float64(1), int64(10), object(10)
memory usage: 19.1+ MB

In [73]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [74]:
bookings.dtypes.value_counts()

object     10
int64      10
float64     1
dtype: int64

In [75]:
bookings

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

Как вы уже могли заметить, при сборе датасета произошла небольшая ошибка, и названия колонок были записаны в неудобном для дальнейшей работы формате. Исправьте ситуацию, приведя названия столбцов к нижнему регистру и заменив пробелы на знак нижнего подчеркивания. 
Например: Is Canceled -> is_canceled

In [94]:
'Arrival Date Year'.lower()

'arrival date year'

In [93]:
'Arrival Date Year'.replace(' ', '_')

'Arrival_Date_Year'

In [92]:
def to_lower_undercore(name):
    name = name.lower().replace(' ', '_')
    return name

In [95]:
to_lower_undercore('Arrival Date Year') #priverka ok

'arrival_date_year'

In [80]:
bookings = bookings.rename(columns=to_lower_undercore)

In [81]:
bookings

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

Перейду к исследованию данных.
* Пользователи из каких стран совершили наибольшее число успешных бронирований?
* Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled). 
* В качестве ответа выберите страны, входящие в топ-5. сохраню в переменную top_5_countries

In [96]:
top_5_countries = bookings.query('is_canceled == 0') \
        .country \
        .value_counts()[:5]

top_5_countries

# [:5] выводит 5 наибольших

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel? Полученные значения округлю с точностью до 2 знаков после точки.

In [83]:
bookings.groupby('hotel') \
        .agg({ 'stays_total_nights' : 'mean'}) \
        .round(2)
 

# mean - функция среднего значения
# raund(2) - округление до 2 х знаков после точки

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга.

Узнаю сколько подобных наблюдений встретилось в датасете?

In [84]:
bookings[['reserved_room_type', 'assigned_room_type']] 
# для просмотра более одной колонок, необходимо создавать списки используя [] внутри []

       reserved_room_type assigned_room_type
0                       C                  C
1                       C                  C
2                       A                  C
3                       A                  A
4                       A                  A
...                   ...                ...
119385                  A                  A
119386                  E                  E
119387                  D                  D
119388                  A                  A
119389                  A                  A

[119390 rows x 2 columns]

In [107]:
overbooking = bookings.query('assigned_room_type != reserved_room_type') \
        .shape[0]

overbooking

# расчитал общий овердбукинг 

# !=  не равны 
# [0] расчет числа строк по нулевому индексу

14917

Теперь проанализирую даты запланированного прибытия (arrival_date_year).
* На какой месяц чаще всего оформляли бронь в 2016 году? 
* Изменился ли самый популярный месяц в 2017?

In [102]:
most_popular_month_2016 = bookings.query('arrival_date_year == 2016') \
                                        .arrival_date_month \
                                        .value_counts() \
                                        .idxmax()
most_popular_month_2016

'October'

In [103]:
most_popular_month_2017 = bookings.query('arrival_date_year == 2017') \
                                    .arrival_date_month \
                                    .value_counts() \
                                    .idxmax()
most_popular_month_2017

'May'

Сгруппирую  данные по годам, а затем проверю, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017?

In [88]:
(
    bookings
        .query('hotel == "City Hotel" and is_canceled == 1 ')
        .groupby('arrival_date_year')
        .arrival_date_month
        .value_counts()
)

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

Посмотрю на числовые характеристики трёх колонок: adults, children и babies. Узнаю какая из них имеет наибольшее среднее значение.

In [89]:
bookings[['adults', 'children', 'babies']].describe()
# describe - выводит строки , среднее, мин и т.д

              adults       children         babies
count  119390.000000  119386.000000  119390.000000
mean        1.856403       0.103890       0.007949
std         0.579261       0.398561       0.097436
min         0.000000       0.000000       0.000000
25%         2.000000       0.000000       0.000000
50%         2.000000       0.000000       0.000000
75%         2.000000       0.000000       0.000000
max        55.000000      10.000000      10.000000

In [90]:
# еще один способ 

bookings[['adults', 'children', 'babies']].mean()

# mean считаем средние значение

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

Создам колонку total_kids, объединив столбцы children и babies. 
* Узнгаю для отелей какого типа среднее значение переменной оказалось наибольшим?

    * City hotel – отель находится в городе
    * Resort hotel – отель курортный

В качестве ответа укажите наибольшее среднее total_kids, округлив до 2 знаков после точки.

In [91]:
bookings['total_kids'] = bookings['children'] + bookings['babies']

In [105]:
total_kids = bookings.groupby('hotel') \
                        .agg({'total_kids' : 'mean'}) \
                        .round(2) \
                        .max()
total_kids

total_kids    0.14
dtype: float64

* Не все бронирования завершились успешно (is_canceled), поэтому нужно посчитать, сколько клиентов было потеряно в процессе. Иными словами, посчитать метрику под названием Churn Rate.

Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах.

В нашем случае Churn Rate - это процент клиентов, которые отменили бронирование. Давайте посмотрим, как эта метрика зависит от наличия детей у клиентов!

Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Далее проверьте, среди какой группы пользователей показатель оттока выше. 

В качестве ответа укажите наибольший % оттока, округленный до 2 знаков после точки