#### Здравствуйте

Продолжаю улучшать свои навыки и знания.
Предлагаю ознакомиться с мини проектом "Генерация данных".

#### Задача

**Создам базу данных user_actions в которой сгенирую действия покупателей в интернет магазине,данные будут логически верные, но не подойдут для выявления паттернов пользователей**

**Cтруктура таблицы:**
* user_id - id пользователя
* product_id - id товара
* action - действие, просмотр товара, сохранение в корзину, покупка
* time - время совершения события

In [ ]:
import pandas as pd
import numpy as np

In [23]:
all_user_ids = np.arange(1, 1001)
all_product_ids = np.arange(1, 101)
n = 10000

# Сгенерировал масив 1000 пользователей и  100 товаров
# n - к-во строк

In [42]:
user_ids    = np.random.choice(all_user_ids, n)
product_ids = np.random.choice(all_product_ids, n)

# с помощью функции random.choice сгенерирова  id и событий связанных с продуктами(с повторениями)

start_date = pd.to_datetime('2022-01-01')

# сгенерировал временную шкалу, выбрав дату старта

times = pd.date_range(start_date, periods=n, freq='1min')

# указал интервал времени между событиями

In [43]:
user_actions = pd.DataFrame({'user_id': user_ids, 
                             'product_id': product_ids, 
                             'time': times})

#создал Dataframe из списка, испульзуя списки словарей в качестве входных данных, имена столбцов в качестве ключей.

In [44]:
user_actions['action'] = 'view'
# добавил колонку action

In [45]:
user_actions.head()

   user_id  product_id                time action
0      257          23 2022-01-01 00:00:00   view
1      529          26 2022-01-01 00:01:00   view
2      752          27 2022-01-01 00:02:00   view
3      773          48 2022-01-01 00:03:00   view
4      317          15 2022-01-01 00:04:00   view

In [46]:
def generate_funel_actions(user_id, product_id, time):
    to_cart = 0.2
    to_purchase = 0.4
    
    df = pd.DataFrame()
    
    if np.random.binomial(1, to_cart, 1)[0]:
        df = pd.DataFrame({
                           'user_id'   : user_id, 
                           'product_id': product_id, 
                           'time'      : time + pd.Timedelta(5, unit='s'), 
                           'action'    : 'add to cart'}, index=[0])
        
        if np.random.binomial(1, to_purchase, 1)[0]:
            df_purchase = pd.DataFrame({
                           'user_id'   : user_id, 
                           'product_id': product_id, 
                           'time'      : time + pd.Timedelta(10, unit='s'), 
                           'action'    : 'purchase'}, index=[0])
    
            df = df.append(df_purchase)
    return df

# функция реализует алгоритм подбрасывания монетки 
# с вероятностью 0.2 пользователь помещает товар в корзину, после просмотра
# с вероятностью 0.4 пользователь совершает покупку товаров которые он поместил в корзину
# по условию биномиального распределения, функция создает запись о добавлении товара в корзину и запись времени этого события с интервалом на 5 секунд относительно просмотра
# генерирую еще одно дейстивие, пользователь совершает покупку товара из козины с вероятностью 0.4 и создается запись действия с временным интервалом в 10 секунд
# функция возвращается в начало df

In [47]:
to_cart_df = pd.DataFrame()

In [48]:
for i, row in user_actions.iterrows():
    user_df = generate_funel_actions(row['user_id'], row['product_id'], row['time'])
    to_cart_df = to_cart_df.append(user_df)
#  concat() подходит для обьединения df 
# row - это структура Series, каждый элемент может быть получен по имени столбца или индексу столбца

In [49]:
user_actions = user_actions.append(to_cart_df)
user_actions = user_actions.sort_values('time')

In [50]:
user_actions['date'] = user_actions.time.dt.date

In [51]:
user_actions.head()

   user_id  product_id                time       action        date
0      257          23 2022-01-01 00:00:00         view  2022-01-01
1      529          26 2022-01-01 00:01:00         view  2022-01-01
2      752          27 2022-01-01 00:02:00         view  2022-01-01
0      752          27 2022-01-01 00:02:05  add to cart  2022-01-01
0      752          27 2022-01-01 00:02:10     purchase  2022-01-01

##### Источники информации, применяемые в процессе решения

* https://pythobyte.com/
* https://pandas.pydata.org/
* https://question-it.com/
* https://www.cyberforum.ru/python-tasks/thread2883132.html
* https://www.dmitrymakarov.ru/python/random-11/
* https://all-python.ru/osnovy/funktsii.html
* https://pythonru.com/biblioteki/vozmozhnosti-obektov-index-v-pandas-pd-3
* https://www.stackfinder.ru/questions/27644617/difference-between-n-and-size-parameters-in-np-random-binomialn-p-size-1000
* https://russianblogs.com/
* https://all-python.ru/osnovy/funktsii.html
* https://www.cyberforum.ru/python-tasks/